{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block styles %}
    {% endblock  %}
    <link rel="shortcut icon" href={% static "img/favicon.ico" %} type="image/x-icon">  
    <title>MindShareHub</title>
</head>
<body>
    <header class="header">
        <div class="logo-search">
            <img src={% static "img/logo.png" %} alt="logo" class="logo">
            <i class="fas fa-search"></i>
        </div>

        <ul class="middle-menu">
            <li class="middle-menu-btn"><i class="fas fa-home"></i>
                <span class="tooltiptext">Home Page</span>
            </li>
            <li class="middle-menu-btn"><i class="fas fa-users"></i>
                <span class="tooltiptext">Groups</span>
            </li>
        </ul>

        <ul class="auth-menu">
            <li class="auth-menu-btn"><i class="fas fa-bell"></i>
                <span class="tooltiptext">Notification</span>
            </li>
            <li class="auth-menu-btn"><i class="far fa-comment-dots"></i>
                <span class="tooltiptext">Messages</span>
            </li>
            <li class="auth-menu-btn">
                {% if profile.avatar %}
                    <img src="{{profile.avatar}}" alt="" class="profile-avatar">
                {% else %}
                    <i class="fas fa-user"></i>
                {% endif %}
                <span class="tooltiptext">Profile</span>
            </li>
        </ul>
    </header>

    <main>
        <div class="content">
            {% block content %}

            {% endblock  %}
        </div>
    </main>

    <footer>

    </footer>
</body>
{% block js %}
{% endblock %}
</html>