html, body {
    background-color: #CFD8DC;
    margin: 0; height: 100%; overflow: hidden
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    margin-top: -10px;
}

.logo {
    width: 80px;
    height: 60px;
    cursor: pointer;

}

.logo-search {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-search {
    font-size: 18px;
}

.middle-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.middle-menu li {
    cursor: pointer;
}

.fa-home, .fa-users {
    font-size: 24px;
}

.middle-menu-btn, .auth-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
}

.middle-menu-btn .tooltiptext, 
.auth-menu-btn .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 26px;
}

.auth-menu-btn .tooltiptext {
    top: 42px;
}

  
.middle-menu-btn:hover .tooltiptext, 
.auth-menu-btn:hover .tooltiptext {
    visibility: visible;
  }


.auth-menu {
    display: flex;
    gap: 14px;
    list-style: none;
    margin-right: 22px;

}

.fa-bell,
.fa-comment-dots,
.fa-user {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.fa-user {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}


.content {
    display: flex;
    gap: 12px;

}
.posts {
    border: 1px solid black;
    margin-top: 50px;
    height: auto;
    width: 80%;
    margin: 50px auto auto 50px;
    height: 750px;
    overflow-y: scroll;
    scrollbar-color: #7a7a7a #383838;
    scrollbar-width: thin;
    padding: 14px;
}

.friends {
    border: 1px solid black;
    margin-top: 50px;
    width: 15%;
    margin: 50px 50px auto auto;
    height: 750px;
    overflow-y: scroll;
    scrollbar-color: #7a7a7a #383838;
    scrollbar-width: thin;
    padding: 14px;

}